<html>
    <head>
        <title>Nothing</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <form class='form-group' action='#' method="POST">
                <input class="form-control" type="text" name="link" id="link">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
                <style>
                    .form-control {width: 15%;}
                </style>
            </form>
        </div>
    </body>
</html>